<div class="container-fluid">
    <header class="row">
        <div class="logo col-sm-5">
            <ul class="profile-icons list-inline pull-left">
                <li>
                    <img ng-src={{$ctrl.photoUrl}} class="img-circle">
                </li>
                <li>{{$ctrl.userName}}</li>
            </ul>
        </div><!-- profile -->

        <div class="search-bar col-sm-5">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-main">
                  <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
            </div><!-- /input-group -->

            <span class="arrow caret"></span>

        </div><!-- search-bar -->

        <div class="profile col-sm-2">
            <a class="logout pull-right" ng-click="$ctrl.signOut()">Sign out <span class="glyphicon glyphicon-log-out"></span></a>

        </div><!-- logout -->
    </header>

    <div class="control-bar row">
        <div class="col-sm-2">
            <drop-down items="[{title:'Mail', state:'mail'}, {title:'Contacts', state:'contacts'}]"></drop-down>
        </div><!-- menu -->

        <div class="controls col-sm-10">
            <ul class="control-list list-inline">
                <li>
                    <button class="btn btn-control" title="Refresh">
                        <span class="glyphicon glyphicon-repeat"></span>
                    </button>
                </li>
                <li>
                    <button class="btn btn-control" title="Select All">
                        <input type="checkbox" class="mail-select" ng-model="$ctrl.select">
                    </button>
                </li>

            </ul>
        </div><!-- controls -->
    </div><!-- control-bar -->
</div>

<div class="mail row">
    <div ui-view></div>
</div>

