<div class="container-fluid">
    <header class="row">
        <div class="logo col-sm-5">
            <ul class="profile-icons list-inline pull-left">
                <li>
                    <img ng-src={{$ctrl.photoUrl}} class="img-circle">
                </li>
                <li>{{$ctrl.userName}}</li>
            </ul>
        </div><!-- profile -->

        <div class="search-bar col-sm-5">
            <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Search for..."
                           ng-model="$ctrl.search" ng-model-options="{ debounce: 500 }">
                    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
            </div><!-- /form-group -->

        </div><!-- search-bar -->

        <div class="profile col-sm-2">
            <a class="logout pull-right" ng-click="$ctrl.signOut()">Sign out <span class="glyphicon glyphicon-log-out"></span></a>

        </div><!-- logout -->
    </header>

    <div class="control-bar row">
        <div class="col-sm-2">
            <drop-down items="$ctrl.stateChildren" choice="$ctrl.selectedStateChild"></drop-down>
        </div><!-- menu -->

        <div class="controls col-sm-10">
            <ul class="control-list list-inline">
                <li>
                    <button class="btn btn-control" title="Refresh" ng-click="$ctrl.refresh()">
                        <span class="glyphicon glyphicon-repeat"></span>
                    </button>
                </li>
                <li>
                    <button class="btn btn-control" title="Select All" ng-if="$ctrl.isListShown">
                        <input type="checkbox" class="mail-select" ng-model="$ctrl.selectAll" ng-change="$ctrl.setSelection()">
                    </button>
                </li>
                <li>
                    <button class="btn btn-control" title="Delete" ng-if="$ctrl.isAnyItemSelected">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </li>

            </ul>
        </div><!-- controls -->
    </div><!-- control-bar -->
</div>

<div class="mail row">
    <div ui-view>Loading...</div>
</div>

