<div>
    <form class="form-signin login-form" ng-submit="$ctrl.go()" novalidate>
        <h2 class="form-signin-heading login-title">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""
               ng-model="$ctrl.login">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
               ng-model="$ctrl.password">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
