<span uib-dropdown on-toggle="toggled(open)">
    <a href id="simple-dropdown" uib-dropdown-toggle>
        <div class="menu">
            <div>
                {{$ctrl.choice.title || $ctrl.choice}}
                <span class="caret"></span>
            </div>
        </div>
    </a>
    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li ng-repeat="choice in $ctrl.items">
            <a ng-click="$ctrl.goToChoice(choice)">{{choice.title || choice}}</a>
        </li>
    </ul>
</span>